body {
    font-family: 'Open Sans', sans-serif;
    margin: auto 35px;
    color: green;
}

ul {
    margin: 0;
}

li{
    padding: 5px;
}

#to-do-list-container {
    margin-top: 25px;
}

#completed-list {
    list-style-type: none;
}

#completed-list li {
    text-decoration: line-through red;
}